<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smarteist.imageslider">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION">
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"

        android:name="com.smarteist.imageslider.kakao_Login.GlobalApplication"

        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">

        <activity android:name="com.smarteist.imageslider.kakao_Login.kakaoLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.smarteist.imageslider.main_page">
        </activity>

        <!--
        <activity android:name="com.smarteist.imageslider.main_page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> -->

        <!-- Office View Details -->
        <activity android:name="com.smarteist.imageslider.MainActivity">
        </activity>

        <activity android:name="com.smarteist.imageslider.calendarDate_Book"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity android:name="com.smarteist.imageslider.Book_img_2"/>
        <activity android:name="com.smarteist.imageslider.Book_img_3"/>
        <activity android:name="com.smarteist.imageslider.Book_img_4"/>



        <meta-data android:name="com.kakao.sdk.AppKey" android:value="781fc7ecc485c7e5cb6f9f823ed44136"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!-- for Calendar API -->
        <activity android:name="com.yongbeom.aircalendar.AirCalendarDatePickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />


    </application>

</manifest>