<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smarteist.imageslider"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- for BLE Services -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION">
    </uses-permission>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"

        android:name="com.smarteist.shareOffice.kakao_Login.GlobalApplication"

        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">

        <activity android:name="com.smarteist.shareOffice.kakao_Login.kakaoLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Toolbar BLE Menu -->

        <activity android:name="com.smarteist.shareOffice.main_page">
        </activity>

        <!--
        <activity android:name="com.smarteist.imageslider.main_page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> -->

        <activity android:name="com.smarteist.shareOffice.BLE.DeviceScanActivity">
            </activity>

        <activity android:name="com.smarteist.shareOffice.BLE.DeviceScan">
        </activity>

        <activity android:name="com.smarteist.shareOffice.BLE.DeviceControlActivity">
        </activity>


        <!-- Office View Details -->
        <activity android:name="com.smarteist.shareOffice.MainActivity">
        </activity>

        <activity android:name="com.smarteist.shareOffice.Book_Fragment.calendarDate_Book"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity android:name="com.smarteist.shareOffice.office_registerActivity"/>

        <activity android:name="com.smarteist.shareOffice.Book_Fragment.reservationActivity"/>


        <meta-data android:name="com.kakao.sdk.AppKey" android:value="781fc7ecc485c7e5cb6f9f823ed44136"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!-- for Calendar API -->
        <activity android:name="com.yongbeom.aircalendar.AirCalendarDatePickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="Instantiatable" />

        <!-- for BLE Connection API -->
        <service
            android:name="com.smarteist.shareOffice.BLE.BluetoothLeService"
            android:enabled="true" />

    </application>

</manifest>